---
import { Image } from "astro:assets";

type Props = {
  src: ImageMetadata;
  alt: string;
  width: number;
  height: number;
  className?: string;
};

const { src, alt, width, height, className } = Astro.props;
---

<div class:list={["relative", className]}>
  <Image
    src={src}
    alt={alt}
    width={width}
    height={height}
    class="absolute -z-10 size-full object-cover"
  />
  <div class="p-4 py-16 w-[1600px] max-w-full mx-auto">
    <slot />
  </div>
</div>
