---
import Background from "@assets/main/main.webp";
import Title from "@assets/main/title.webp";
import { Image } from "astro:assets";
import BackgroundImage from "../components/BackgroundImage.astro";
---

<section class="">
  <BackgroundImage
    src={Background}
    alt="Background"
    width={1920}
    height={1080}
    className="h-screen"
  >
    <div class="w-full flex size-full justify-center items-start pt-header">
      <Image src={Title} alt={"Litle Nightmares"} class="w-2/5" />
    </div>
  </BackgroundImage>
</section>
