---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalUrl?: string;
}

const { title } = Astro.props;
import "../styles/global.css";
import Metadata from "./_components/Metadata.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata {...Astro.props} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
